# -*- conf-space -*-

Host *
	ForwardAgent yes
	CheckHostIP yes
	Compression yes
	Protocol 2
    GSSAPIAuthentication no
	#ControlMaster auto
	#ControlPath ~/.ssh/master-%r@%h:%p

Host z
	Hostname greed.zenspider.com
	User ryand
	ControlMaster auto
	ControlPath ~/.ssh/master-%r@%h:%p

Host z2
	Hostname zenspider.textdriven.com
	User zenspider

Host zenspider.textdriven.com
	Hostname zenspider.textdriven.com
	User zenspider

Host v
	Hostname vanity.zenspider.com
	User ryand
	ControlMaster auto
	ControlPath ~/.ssh/master-%r@%h:%p

Host e
	Hostname envy.zenspider.com
	User ryan
	ControlMaster auto
	ControlPath ~/.ssh/master-%r@%h:%p

Host rubyforge.org
    User zenspider

Host ey
	Hostname 65.74.174.196
	Port 8044
	User ryan

Host stats
  Hostname 65.74.139.2
  Port 8095
  User zenspider

Host buzz
  Hostname notbuzz.com
  User rdavis
  Port 21337

Host trunk.notbuzz.com
  Port 21337
  User buzz

Host www.notbuzz.com
  Port 21337
  User buzzwww

# ssh -N -L 40993:glnexm01:993 -L 40025:glnexm01:25 sshproxy1.yellowpages.com

Host buzzmail
  Hostname sshproxy1.yellowpages.com
  User rdavis
  LocalForward 40993 glnexm01:993
  LocalForward 40025 glnexm01:25
