# -*- conf-space -*-
Include config.local

Host *
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes
  CheckHostIP yes
  IgnoreUnknown UseKeychain,AddKeysToAgent
  UseKeychain yes
  AddKeysToAgent yes

Host e
  Hostname envy.local
  User ryan
  ControlMaster auto
  ControlPath ~/.ssh/master-%C

Host l
  Hostname lust.zenspider.com
  User ryan
  ControlMaster auto
  ControlPath ~/.ssh/master-%C

Host work.local w
  Hostname work.local
  User ryan.davis
  ControlMaster auto
  ControlPath ~/.ssh/master-%C

Host github.com
  IdentityFile ~/.ssh/passwordless

# password in keychain under sync.net
Host rsync
  Hostname usw-s004.rsync.net
  IdentityFile ~/.ssh/rsync.net
  User 4295
  ControlMaster auto
  ControlPath ~/.ssh/master-%C
  ControlPersist 1h

Host docs
  Hostname docs.seattlerb.org

Host drobo
  Hostname 10.0.1.99
  User root
